openapi: 3.0.0
info:
  title: Farcaster API V2
  version: "2.0"
servers:
- url: https://api.neynar.com/v2
tags:
- description: Operations related to user
  externalDocs:
    description: More info about user
    url: https://docs.neynar.com/reference/user-operations
  name: User
- description: Operations related to signer
  externalDocs:
    description: More info about signer
    url: https://docs.neynar.com/reference/signer-operations
  name: Signer
- description: Operations related to cast
  externalDocs:
    description: More info about cast
    url: https://docs.neynar.com/reference/cast-operations
  name: Cast
- description: Operations related to feed
  externalDocs:
    description: More info about feed
    url: https://docs.neynar.com/reference/feed-operations
  name: Feed
- description: Operations related to reaction
  externalDocs:
    description: More info about reaction
    url: https://docs.neynar.com/reference/reaction-operations
  name: Reaction
- description: Operations related to notifications
  externalDocs:
    description: More info about notifications
    url: https://docs.neynar.com/reference/notifications-operations
  name: Notifications
- description: Operations related to channels
  externalDocs:
    description: More info about channels
    url: https://docs.neynar.com/reference/channel-operations
  name: Channel
- description: Operations related to follows
  externalDocs:
    description: More info about follows
    url: https://docs.neynar.com/reference/follows-operations
  name: Follows
- description: Operations related to storage
  externalDocs:
    description: More info about storage
    url: https://docs.neynar.com/reference/storage-operations
  name: Storage
- description: Operations related to frames
  externalDocs:
    description: More info about frames
    url: https://docs.neynar.com/reference/frame-operations
  name: Frame
- description: Operations related to fname
  externalDocs:
    description: More info about fname
    url: https://docs.neynar.com/reference/fname-operations
  name: fname
- description: Operations related to a webhook
  externalDocs:
    description: More info about webhook
    url: https://docs.neynar.com/reference/webhook-operations
  name: Webhook
paths:
  /farcaster/user/fid:
    get:
      description: Fetches fid to assign it new user
      externalDocs:
        url: https://docs.neynar.com/reference/get-fresh-fid
      operationId: get-fresh-fid
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFIDResponse'
          description: Successful operation.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetches fid to assign it new user
      tags:
      - User
  /farcaster/signer/developer_managed:
    get:
      description: Fetches the status of a developer managed signer by public key
      externalDocs:
        url: https://docs.neynar.com/reference/developer-managed-signer
      operationId: developer-managed-signer
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - explode: true
        in: query
        name: public_key
        required: false
        schema:
          $ref: '#/components/schemas/Ed25519PublicKey'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperManagedSigner'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetches the status of a signer by public key
      tags:
      - Signer
  /farcaster/signer/developer_managed/signed_key:
    post:
      description: Registers an signed key and returns the developer managed signer
        status with an approval url.
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key-for-developer-managed-signer
      operationId: register-signed-key-for-developer-managed-signer
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              app_fid: 18949
              deadline: 1693627665
              public_key: 0x3daa8f99c5f760688a3c9f95716ed93dee5ed5d7722d776b7c4deac957755f22
              signature: 0xe5d95c391e165dac8efea373efe301d3ea823e1f41713f8943713cbe2850566672e33ff3e17e19abb89703f650a2597f62b4fda0ce28ca15d59eb6d4e971ee531b
            schema:
              $ref: '#/components/schemas/RegisterDeveloperManagedSignedKeyReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperManagedSigner'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Registers Signed Key
      tags:
      - Signer
  /farcaster/signer:
    get:
      description: Gets information status of a signer by passing in a signer_uuid
        (Use post API to generate a signer)
      externalDocs:
        url: https://docs.neynar.com/reference/signer
      operationId: signer
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
        explode: true
        in: query
        name: signer_uuid
        required: false
        schema:
          $ref: '#/components/schemas/SignerUUID'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetches the status of a signer
      tags:
      - Signer
    post:
      description: |
        Creates a signer and returns the signer status. \
        **Note**: While tesing please reuse the signer, it costs money to approve a signer.
      externalDocs:
        url: https://docs.neynar.com/reference/create-signer
      operationId: create-signer
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
          description: Successful operation.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Creates a signer and returns the signer status
      tags:
      - Signer
  /farcaster/signer/signed_key:
    post:
      description: "Registers an app fid, deadline and a signature. Returns the signer\
        \ status with an approval url."
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key
      operationId: register-signed-key
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              app_fid: 18949
              deadline: 1693627665
              signature: 0xe5d95c391e165dac8efea373efe301d3ea823e1f41713f8943713cbe2850566672e33ff3e17e19abb89703f650a2597f62b4fda0ce28ca15d59eb6d4e971ee531b
            schema:
              $ref: '#/components/schemas/RegisterSignerKeyReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Register Signed Key
      tags:
      - Signer
  /farcaster/user/search:
    get:
      description: Search for Usernames
      externalDocs:
        url: https://docs.neynar.com/reference/user-search
      operationId: user-search
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: r
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 5
          format: int32
          maximum: 10
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Search for Usernames
      tags:
      - User
  /farcaster/user/bulk:
    get:
      description: Fetches information about multiple users based on FIDs
      externalDocs:
        url: https://docs.neynar.com/reference/user-bulk
      operationId: user-bulk
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: "Comma separated list of FIDs, up to 100 at a time"
        example: "194, 191, 6131"
        explode: true
        in: query
        name: fids
        required: false
        schema:
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUsersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetch users based on FIDs
      tags:
      - User
  /farcaster/user/power:
    get:
      description: Fetches power users based on Warpcast power badges. Information
        is updated once a day.
      externalDocs:
        url: https://docs.neynar.com/reference/user-power
      operationId: power-users
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of power users to fetch, max 100"
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetch power user objects
      tags:
      - User
  /farcaster/user/power_lite:
    get:
      description: Fetches power users and respond in a backwards compatible format
        to Warpcast's deprecated power badge endpoint.
      externalDocs:
        url: https://docs.neynar.com/reference/user-power-lite
      operationId: user-power-lite
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPowerLiteResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Fetch power user FIDs
      tags:
      - User
  /farcaster/user/active:
    get:
      deprecated: true
      description: Warpcast has deprecated the active badge. Use user/power endpoint
        instead.
      externalDocs:
        url: https://docs.neynar.com/reference/active-users
      operationId: active-users
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetch active users
      tags:
      - User
  /farcaster/user/bulk-by-address:
    get:
      description: |-
        Fetches all users based on multiple Ethereum or Solana addresses.

        Each farcaster user has a custody Ethereum address and optionally verified Ethereum or Solana addresses. This endpoint returns all users that have any of the given addresses as their custody or verified Ethereum or Solana addresses.

        A custody address can be associated with only 1 farcaster user at a time but a verified address can be associated with multiple users.
        You can pass in Ethereum and Solana addresses, comma separated, in the same request. The response will contain users associated with the given addresses.
      externalDocs:
        url: https://docs.neynar.com/reference/user-bulk-by-address
      operationId: user-bulk-by-address
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: "Comma separated list of Ethereum addresses, up to 350 at a time"
        example: "0xa6a8736f18f383f1cc2d938576933e5ea7df01a1,0x7cac817861e5c3384753403fb6c0c556c204b1ce"
        explode: true
        in: query
        name: addresses
        required: false
        schema:
          type: string
        style: form
      - description: |
          Customize which address types the request should search for. This is a comma-separated string that can include the following values: 'custody_address' and 'verified_address'. By default api returns both. To select multiple types, use a comma-separated list of these values.
        example: "custody_address,verified_address"
        explode: true
        in: query
        name: address_types
        required: false
        schema:
          pattern: "^(custody_address,?|verified_address,?)+$"
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUsersByAddressResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Fetches users based on Eth or Sol addresses
      tags:
      - User
  /farcaster/user/channels:
    get:
      description: Returns a list of all channels with their details that a fid follows.
      externalDocs:
        url: https://docs.neynar.com/reference/user-channels
      operationId: user-channels
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: The fid of the user.
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
          description: Successful response
      summary: Retrieve all channels that a given fid follows
      tags:
      - Channel
  /farcaster/user:
    patch:
      description: |
        Update user profile \
        (In order to update user's profile `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/update-user
      operationId: update-user
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              bio: Hey there..!!!
              pfp_url: https://i.imgur.com/keIWEYM.jpg
              username: dan
              display_name: Dan Romero
            schema:
              $ref: '#/components/schemas/UpdateUserReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Update user profile
      tags:
      - User
    post:
      description: |
        Register account on farcaster.

        **Note:** This API must be called within 10 minutes of the fetch fid API call (i.e., /v2/farcaster/user/fid). Otherwise, Neynar will assign this fid to another available user.
      externalDocs:
        url: https://docs.neynar.com/reference/register-user
      operationId: register-user
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signature: 0xe0cd4da80fb30d59e3ce5a10768c35043bc31487362977cf0a3acf15338a730f4aa329568055c943d777dd81fcb60292f15fc0bcf644da1943b6aa0b3ea9bdcf1b
              fid: 321518
              requested_user_custody_address: 0x2c57e688154C082955cF205F4A335E852D3e25f1
              deadline: 1707371935
              fname: desired_fname
            schema:
              $ref: '#/components/schemas/RegisterUserReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorRes'
          description: Conflict
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Register account on farcaster
      tags:
      - User
  /farcaster/message:
    post:
      description: Publish a message to farcaster. The message must be signed by a
        signer managed by the developer. Use the @farcaster/core library to construct
        and sign the message. Use the Message.toJSON method on the signed message
        and pass the JSON in the body of this POST request.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-message
      operationId: publish-message
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessageReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishMessageResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Publish a message to farcaster
      tags:
      - Signer
  /farcaster/cast:
    delete:
      description: |
        Delete an existing cast. \
        (In order to delete a cast `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/delete-cast
      operationId: delete-cast
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_hash: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
            schema:
              $ref: '#/components/schemas/DeleteCastReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Delete a cast
      tags:
      - Cast
    get:
      description: Gets information about an individual cast by passing in a Warpcast
        web URL or cast hash
      externalDocs:
        url: https://docs.neynar.com/reference/cast
      operationId: cast
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Cast identifier (Its either a url or a hash)
        example: https://warpcast.com/rish/0x9288c1
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      - example: url
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CastParamType'
        style: form
      - description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve cast for a given hash or Warpcast URL
      tags:
      - Cast
    post:
      description: "Posts a cast or cast reply. Works with mentions and embeds.  \n\
        (In order to post a cast `signer_uuid` must be approved)\n"
      externalDocs:
        url: https://docs.neynar.com/reference/post-cast
      operationId: post-cast
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              text: Writing to @farcaster via the @neynar APIs 🪐
            schema:
              $ref: '#/components/schemas/PostCastReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCastResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Posts a cast
      tags:
      - Cast
  /farcaster/casts:
    get:
      description: Retrieve multiple casts using their respective hashes.
      externalDocs:
        url: https://docs.neynar.com/reference/casts
      operationId: casts
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Hashes of the cast to be retrived (Comma separated)
        example: "0xa896906a5e397b4fec247c3ee0e9e4d4990b8004,0x27ff810f7f718afd8c40be236411f017982e0994"
        explode: true
        in: query
        name: casts
        required: false
        schema:
          type: string
        style: form
      - description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Optional parameter to sort the casts based on different criteria
        explode: true
        in: query
        name: sort_type
        required: false
        schema:
          enum:
          - trending
          - likes
          - recasts
          - replies
          - recent
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Gets information about an array of casts
      tags:
      - Cast
  /farcaster/cast/search:
    get:
      description: "Search for casts based on a query string, with optional AND filters"
      externalDocs:
        url: https://docs.neynar.com/reference/cast-search
      operationId: cast-search
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Query string to search for casts
        example: star wars
        explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - description: Fid of the user whose casts you want to search
        example: 194
        explode: true
        in: query
        name: author_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Parent URL of the casts you want to search
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID of the casts you want to search
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - example: 25
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          format: int32
          maximum: 100
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsSearchResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Search for casts
      tags:
      - Cast
  /farcaster/cast/conversation:
    get:
      description: Gets all casts related to a conversation surrounding a cast by
        passing in a cast hash or Warpcast URL. Includes all the ancestors of a cast
        up to the root parent in a chronological order. Includes all direct_replies
        to the cast up to the reply_depth specified in the query parameter.
      externalDocs:
        url: https://docs.neynar.com/reference/cast-conversation
      operationId: cast-conversation
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Cast identifier (Its either a url or a hash)
        example: https://warpcast.com/rish/0x9288c1
        explode: true
        in: query
        name: identifier
        required: false
        schema:
          type: string
        style: form
      - example: url
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/CastParamType'
        style: form
      - description: The depth of replies in the conversation that will be returned
          (default 2)
        explode: true
        in: query
        name: reply_depth
        required: false
        schema:
          $ref: '#/components/schemas/ReplyDepth'
        style: form
      - description: Include all parent casts in chronological order
        explode: true
        in: query
        name: include_chronological_parent_casts
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 20, max 50)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve the conversation for a given cast
      tags:
      - Cast
  /farcaster/feed:
    get:
      description: Retrieve casts based on filters. Ensure setting the correct parameters
        based on the feed_type and filter_type.
      externalDocs:
        url: https://docs.neynar.com/reference/feed
      operationId: feed
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Defaults to following (requires fid or address). If set to filter
          (requires filter_type)
        example: filter
        explode: true
        in: query
        name: feed_type
        required: false
        schema:
          $ref: '#/components/schemas/FeedType'
        style: form
      - description: Used when feed_type=filter. Can be set to fids (requires fids)
          or parent_url (requires parent_url) or channel_id (requires channel_id)
        example: fids
        explode: true
        in: query
        name: filter_type
        required: false
        schema:
          $ref: '#/components/schemas/FilterType'
        style: form
      - description: "(Optional) fid of user whose feed you want to create. By default,\
          \ the API expects this field, except if you pass a filter_type"
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Used when filter_type=fids . Create a feed based on a list of
          fids. Max array size is 250. Requires feed_type and filter_type.
        example: "3,2,194"
        explode: true
        in: query
        name: fids
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=parent_url can be used to fetch content
          under any parent url e.g. FIP-2 channels on Warpcast. Requires feed_type
          and filter_type
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=channel_id can be used to fetch all casts
          under a channel. Requires feed_type and filter_type
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=embed_url can be used to fetch all casts
          with an embed url that contains embed_url. Requires feed_type and filter_type
        explode: true
        in: query
        name: embed_url
        required: false
        schema:
          type: string
        style: form
      - description: Used when filter_type=embed_types can be used to fetch all casts
          with matching content types. Requires feed_type and filter_type
        explode: false
        in: query
        name: embed_types
        required: false
        schema:
          items:
            $ref: '#/components/schemas/EmbedType'
          type: array
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve casts based on filters
      tags:
      - Feed
  /farcaster/feed/following:
    get:
      description: Retrieve feed based on who a user is following
      externalDocs:
        url: https://docs.neynar.com/reference/feed-following
      operationId: feed-following
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of user whose feed you want to create
        example: 3
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve feed based on who a user is following
      tags:
      - Feed
  /farcaster/feed/for_you:
    get:
      description: Retrieve a personalized For You feed for a user
      externalDocs:
        url: https://docs.neynar.com/reference/feed-for-you
      operationId: feed-for-you
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of user whose feed you want to create
        example: 194
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: provider
        required: false
        schema:
          $ref: '#/components/schemas/ForYouProvider'
        style: form
      - description: "Number of results to retrieve (default 25, max 50)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve a personalized For You feed for a user
      tags:
      - Feed
  /farcaster/user/subscriptions_created:
    get:
      description: Fetch created subscriptions for a given fid's.
      externalDocs:
        url: https://docs.neynar.com/reference/subscriptions-created
      operationId: subscriptions-created
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: 528
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: subscription_provider
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionProvider'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetch created subscriptions for a given fid
      tags:
      - Subscribers
  /farcaster/user/subscribed_to:
    get:
      description: Fetch what fids and contracts a fid is subscribed to.
      externalDocs:
        url: https://docs.neynar.com/reference/subscribed-to
      operationId: subscribed-to
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: 3206
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: subscription_provider
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionProvider'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribedToResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetch what a given fid is subscribed to
      tags:
      - Subscribers
  /farcaster/user/subscribers:
    get:
      description: Fetch subscribers for a given fid's contracts. Doesn't return addresses
        that don't have an fid.
      externalDocs:
        url: https://docs.neynar.com/reference/subscribers
      operationId: subscribers
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: 3206
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - explode: true
        in: query
        name: subscription_provider
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionProviders'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribersResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetch subscribers for a given fid
      tags:
      - Subscribers
  /farcaster/feed/channels:
    get:
      description: Retrieve feed based on channel ids
      externalDocs:
        url: https://docs.neynar.com/reference/feed-channels
      operationId: feed-channels
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: "Comma separated list of channel ids e.g. neynar,farcaster"
        example: "neynar,farcaster"
        explode: true
        in: query
        name: channel_ids
        required: false
        schema:
          type: string
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Include replies in the response, false by default"
        explode: true
        in: query
        name: with_replies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "If true, only casts that have been liked by the moderator (if\
          \ one exists) will be returned."
        explode: true
        in: query
        name: should_moderate
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve feed based on channel ids
      tags:
      - Feed
  /farcaster/feed/parent_urls:
    get:
      description: Retrieve feed based on parent urls
      externalDocs:
        url: https://docs.neynar.com/reference/feed/parent_urls
      operationId: feed-parent-urls
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Comma separated list of parent_urls
        example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
        explode: true
        in: query
        name: parent_urls
        required: false
        schema:
          type: string
        style: form
      - description: "Include recasts in the response, true by default"
        explode: true
        in: query
        name: with_recasts
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Include replies in the response, false by default"
        explode: true
        in: query
        name: with_replies
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve feed based on parent urls
      tags:
      - Feed
  /farcaster/feed/frames:
    get:
      description: "Retrieve feed of casts with Frames, reverse chronological order"
      externalDocs:
        url: https://docs.neynar.com/reference/feed-frames
      operationId: feed-frames
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: "Retrieve feed of casts with Frames, reverse chronological order"
      tags:
      - Feed
  /farcaster/feed/trending:
    get:
      description: Retrieve trending casts or on the global feed or channels feeds.
        7d time window available for channel feeds only.
      externalDocs:
        url: https://docs.neynar.com/reference/feed-trending
      operationId: feed-trending
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Number of results to retrieve (max 10)
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 10
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Time window for trending casts (7d window for channel feeds only)
        explode: true
        in: query
        name: time_window
        required: false
        schema:
          default: 24h
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
          type: string
        style: form
      - description: Channel ID to filter trending casts. Less active channels might
          have no casts in the time window selected.
        example: neynar
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      - description: The provider of the trending casts feed.
        example: neynar
        explode: true
        in: query
        name: provider
        required: false
        schema:
          $ref: '#/components/schemas/FeedTrendingProvider'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/feed_trending_400_response'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Retrieve trending casts
      tags:
      - Feed
  /farcaster/feed/user/popular:
    get:
      description: "Retrieve 10 most popular casts for a given user FID; popularity\
        \ based on replies, likes and recasts; sorted by most popular first"
      externalDocs:
        url: https://docs.neynar.com/reference/feed-user-popular
      operationId: feed-user-popular
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of user whose feed you want to create
        example: 194
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve 10 most popular casts for a user
      tags:
      - Feed
  /farcaster/feed/user/replies_and_recasts:
    get:
      description: Retrieve recent replies and recasts for a given user FID; sorted
        by most recent first
      externalDocs:
        url: https://docs.neynar.com/reference/feed-user-replies-recasts
      operationId: feed-user-replies-recasts
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of user whose replies and recasts you want to fetch
        example: 194
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: filter to fetch only replies or recasts
        example: replies
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: all
          enum:
          - replies
          - recasts
          - all
          type: string
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          example: 25
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve recent replies and recasts for a user
      tags:
      - Feed
  /farcaster/feed/user/casts:
    get:
      description: Retrieve casts for a given user FID in reverse chronological order.
        Also allows filtering by parent_url and channel
      externalDocs:
        url: https://docs.neynar.com/reference/feed-user-casts
      operationId: feed-user-casts
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of user whose recent casts you want to fetch
        example: 194
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: FID of the user viewing the feed
        example: 3
        explode: true
        in: query
        name: viewer_fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 50)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "Include reply casts by the author in the response, true by default"
        explode: true
        in: query
        name: include_replies
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - description: Parent URL to filter the feed; mutually exclusive with channel_id
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: Channel ID to filter the feed; mutually exclusive with parent_url
        explode: true
        in: query
        name: channel_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Retrieve casts for a user
      tags:
      - Feed
  /farcaster/frame:
    delete:
      description: "Delete an existing frame, if it was made by the developer (identified\
        \ by API key)"
      operationId: delete-neynar-frame
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/delete_neynar_frame_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFrameResponse'
          description: Frame deleted successfully
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Delete a frame
      tags:
      - Frame
    get:
      description: Retrieve a frame either by UUID or Neynar URL
      operationId: lookup-neynar-frame
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/FrameType'
        style: form
      - description: UUID of the frame to retrieve
        explode: true
        in: query
        name: uuid
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: URL of the Neynar frame to retrieve
        explode: true
        in: query
        name: url
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
          description: A frame object
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Retrieve a frame by UUID or URL
      tags:
      - Frame
    post:
      description: Create a new frame with a list of pages.
      operationId: publish-neynar-frame
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeynarFrameCreationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
          description: Frame created successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Create a new frame
      tags:
      - Frame
    put:
      description: "Update an existing frame with a list of pages, if it was made\
        \ by the developer (identified by API key)"
      operationId: update-neynar-frame
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeynarFrameUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
          description: Frame updated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Update an existing frame
      tags:
      - Frame
  /farcaster/frame/list:
    get:
      description: Retrieve a list of frames made by the developer (identified by
        API key)
      operationId: fetch-neynar-frames
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/NeynarFrame'
                type: array
          description: A list of frames
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Retrieve a list of frames
      tags:
      - Frame
  /farcaster/frame/crawl:
    get:
      description: Fetches the frame meta tags from the URL
      operationId: frame-from-url
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: The frame URL to crawl
        example: https://frames.neynar.com/f/862277df/ff7be6a4
        explode: true
        in: query
        name: url
        required: false
        schema:
          format: uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/frame_from_url_200_response'
          description: The response object containing the frame object
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Fetches the frame meta tags from the URL
      tags:
      - Frame
  /farcaster/reaction:
    delete:
      description: |
        Delete a reaction (like or recast) to a given cast \
        (In order to delete a reaction `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/delete-reaction
      operationId: delete-reaction
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              reaction_type: like
            schema:
              $ref: '#/components/schemas/ReactionReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Delete a reaction
      tags:
      - Reaction
    post:
      description: |
        Post a reaction (like or recast) to a given cast \
        (In order to post a reaction `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/post-reaction
      operationId: post-reaction
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              reaction_type: like
            schema:
              $ref: '#/components/schemas/ReactionReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Posts a reaction
      tags:
      - Reaction
  /farcaster/user/verification:
    delete:
      description: |
        Removes verification for an eth address for the user \
        (In order to delete verification `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/remove-verification
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              address: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
            schema:
              $ref: '#/components/schemas/RemoveVerificationReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
      summary: Removes verification for an eth address for the user
      tags:
      - User
    post:
      description: |
        Adds verification for an eth address or contract for the user \
        (In order to add verification `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/add-verification
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              address: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              block_hash: 0x191905a9201170abb55f4c90a4cc968b44c1b71cdf3db2764b775c93e7e22b29
              eth_signature: 0x2fc09da1f4dcb723fefb91f77932c249c418c0af00c66ed92ee1f35002c80d6a1145280c9f361d207d28447f8f7463366840d3a9309036cf6954afd1fd331beb1b
            schema:
              $ref: '#/components/schemas/AddVerificationReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
          description: Successful operation.
      summary: Adds verification for an ethereum address or contract for the user
      tags:
      - User
  /farcaster/user/follow:
    delete:
      description: |
        Unfollow a user \
        (In order to unfollow a user `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/unfollow-user
      operationId: unfollow-user
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_fids:
              - 3
              - 194
            schema:
              $ref: '#/components/schemas/FollowReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkFollowResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Unfollow a user
      tags:
      - User
    post:
      description: |
        Follow a user \
        (In order to follow a user `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/follow-user
      operationId: follow-user
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_fids:
              - 3
              - 194
            schema:
              $ref: '#/components/schemas/FollowReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkFollowResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Follow a user
      tags:
      - User
  /farcaster/user/custody-address:
    get:
      description: Lookup a user by custody-address
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-user-by-custody-address
      operationId: lookup-user-by-custody-address
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Custody Address associated with mnemonic
        example: 0xd1b702203b1b3b641a699997746bd4a12d157909
        explode: true
        in: query
        name: custody_address
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Lookup a user by custody-address
      tags:
      - User
  /farcaster/login/authorize:
    get:
      description: Fetch authorization url (Fetched authorized url useful for SIWN
        login operation)
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-authorization-url
      operationId: fetch-authorization-url
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - explode: true
        in: query
        name: client_id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: response_type
        required: false
        schema:
          $ref: '#/components/schemas/AuthorizationUrlResponseType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationUrlResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
      summary: Fetch authorization url
      tags:
      - Signer
  /farcaster/frame/developer_managed/action:
    post:
      description: |
        Post a frame action that has been signed with a developer managed signer

        The POST request to the post_url has a timeout of 5 seconds.
      externalDocs:
        url: https://docs.neynar.com/reference/post-frame-developer-managed-action
      operationId: post-frame-developer-managed-action
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrameDeveloperManagedActionReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Posts a frame signature packet
      tags:
      - Frame
  /farcaster/frame/action:
    post:
      description: |
        Post frame actions, cast actions or cast composer actions to the server  \
        (In order to post any of these actions, you need to have an approved `signer_uuid`)

        The POST request to the post_url has a timeout of 5 seconds for frames.
      externalDocs:
        url: https://docs.neynar.com/reference/post-frame-action
      operationId: post-frame-action
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrameActionReqBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: "Posts a frame action, cast action or a cast composer action"
      tags:
      - Frame
  /farcaster/frame/validate:
    post:
      description: |
        Validates a frame against by an interacting user against a Farcaster Hub \
        (In order to validate a frame, message bytes from Frame Action must be provided in hex)
      externalDocs:
        url: https://docs.neynar.com/reference/validate-frame
      operationId: validate-frame
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validate_frame_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateFrameActionResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Validates a frame action against Farcaster Hub
      tags:
      - Frame
  /farcaster/frame/validate/list:
    get:
      description: Retrieve a list of all the frames validated by a user
      externalDocs:
        url: https://docs.neynar.com/reference/validate-frame-list
      operationId: validate-frame-list
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameValidateListResponse'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Retrieve a list of all the frames validated by a user
      tags:
      - Frame
  /farcaster/frame/validate/analytics:
    get:
      description: "Retrieve analytics for total-interactors, interactors, nteractions-per-cast\
        \ and input-text."
      externalDocs:
        url: https://docs.neynar.com/reference/validate-frame-analytics
      operationId: validate-frame-analytics
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - example: https://shorturl.at/bDRY9
        explode: true
        in: query
        name: frame_url
        required: false
        schema:
          format: uri
          type: string
        style: form
      - explode: true
        in: query
        name: analytics_type
        required: false
        schema:
          $ref: '#/components/schemas/ValidateFrameAnalyticsType'
        style: form
      - explode: true
        in: query
        name: start
        required: false
        schema:
          default: 2024-04-06T06:44:56.811Z
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: stop
        required: false
        schema:
          default: 2024-04-08T06:44:56.811Z
          format: date-time
          type: string
        style: form
      - description: Required for `analytics_type=interactions-per-cast`
        explode: true
        in: query
        name: aggregate_window
        required: false
        schema:
          enum:
          - 10s
          - 1m
          - 2m
          - 5m
          - 10m
          - 20m
          - 30m
          - 2h
          - 12h
          - 1d
          - 7d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameValidateAnalyticsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Server Error
      summary: Retrieve analytics for the frame
      tags:
      - Frame
  /farcaster/notifications:
    get:
      description: Returns a list of notifications for a specific FID.
      externalDocs:
        url: https://docs.neynar.com/reference/notifications
      operationId: notifications
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of the user you you want to fetch notifications for
        example: 194
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Notification type to fetch.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/NotificationType'
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Retrieve notifications for a given user
      tags:
      - Notifications
  /farcaster/notifications/channel:
    get:
      description: Returns a list of notifications for a user in specific channels
      externalDocs:
        url: https://docs.neynar.com/reference/notifications
      operationId: notifications-channel
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of the user you you want to fetch notifications for
        example: 194
[...]
