openapi: 3.0.0
info:
  title: Farcaster API V2
  version: "2.0"
servers:
- url: https://api.neynar.com/v2
tags:
- name: User
  description: Operations related to user
  externalDocs:
    description: More info about user
    url: https://docs.neynar.com/reference/user-operations
- name: Signer
  description: Operations related to signer
  externalDocs:
    description: More info about signer
    url: https://docs.neynar.com/reference/signer-operations
- name: Cast
  description: Operations related to cast
  externalDocs:
    description: More info about cast
    url: https://docs.neynar.com/reference/cast-operations
- name: Feed
  description: Operations related to feed
  externalDocs:
    description: More info about feed
    url: https://docs.neynar.com/reference/feed-operations
- name: Reaction
  description: Operations related to reaction
  externalDocs:
    description: More info about reaction
    url: https://docs.neynar.com/reference/reaction-operations
- name: Notifications
  description: Operations related to notifications
  externalDocs:
    description: More info about notifications
    url: https://docs.neynar.com/reference/notifications-operations
- name: Channel
  description: Operations related to channels
  externalDocs:
    description: More info about channels
    url: https://docs.neynar.com/reference/channel-operations
- name: Follows
  description: Operations related to follows
  externalDocs:
    description: More info about follows
    url: https://docs.neynar.com/reference/follows-operations
- name: Storage
  description: Operations related to storage
  externalDocs:
    description: More info about storage
    url: https://docs.neynar.com/reference/storage-operations
- name: Frame
  description: Operations related to frames
  externalDocs:
    description: More info about frames
    url: https://docs.neynar.com/reference/frame-operations
- name: fname
  description: Operations related to fname
  externalDocs:
    description: More info about fname
    url: https://docs.neynar.com/reference/fname-operations
- name: Webhook
  description: Operations related to a webhook
  externalDocs:
    description: More info about webhook
    url: https://docs.neynar.com/reference/webhook-operations
paths:
  /farcaster/user/fid:
    get:
      tags:
      - User
      summary: Fetches fid to assign it new user
      description: Fetches fid to assign it new user
      externalDocs:
        url: https://docs.neynar.com/reference/get-fresh-fid
      operationId: get-fresh-fid
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFIDResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/signer/developer_managed:
    get:
      tags:
      - Signer
      summary: Fetches the status of a signer by public key
      description: Fetches the status of a developer managed signer by public key
      externalDocs:
        url: https://docs.neynar.com/reference/developer-managed-signer
      operationId: developer-managed-signer
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: public_key
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Ed25519PublicKey'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperManagedSigner'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/signer/developer_managed/signed_key:
    post:
      tags:
      - Signer
      summary: Registers Signed Key
      description: Registers an signed key and returns the developer managed signer
        status with an approval url.
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key-for-developer-managed-signer
      operationId: register-signed-key-for-developer-managed-signer
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeveloperManagedSignedKeyReqBody'
            example:
              app_fid: 18949
              deadline: 1693627665
              public_key: 0x3daa8f99c5f760688a3c9f95716ed93dee5ed5d7722d776b7c4deac957755f22
              signature: 0xe5d95c391e165dac8efea373efe301d3ea823e1f41713f8943713cbe2850566672e33ff3e17e19abb89703f650a2597f62b4fda0ce28ca15d59eb6d4e971ee531b
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperManagedSigner'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/signer:
    get:
      tags:
      - Signer
      summary: Fetches the status of a signer
      description: Gets information status of a signer by passing in a signer_uuid
        (Use post API to generate a signer)
      externalDocs:
        url: https://docs.neynar.com/reference/signer
      operationId: signer
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: signer_uuid
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SignerUUID'
        example: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    post:
      tags:
      - Signer
      summary: Creates a signer and returns the signer status
      description: |
        Creates a signer and returns the signer status. \
        **Note**: While tesing please reuse the signer, it costs money to approve a signer.
      externalDocs:
        url: https://docs.neynar.com/reference/create-signer
      operationId: create-signer
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/signer/signed_key:
    post:
      tags:
      - Signer
      summary: Register Signed Key
      description: "Registers an app fid, deadline and a signature. Returns the signer\
        \ status with an approval url."
      externalDocs:
        url: https://docs.neynar.com/reference/register-signed-key
      operationId: register-signed-key
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterSignerKeyReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              app_fid: 18949
              deadline: 1693627665
              signature: 0xe5d95c391e165dac8efea373efe301d3ea823e1f41713f8943713cbe2850566672e33ff3e17e19abb89703f650a2597f62b4fda0ce28ca15d59eb6d4e971ee531b
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signer'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/search:
    get:
      tags:
      - User
      summary: Search for Usernames
      description: Search for Usernames
      externalDocs:
        url: https://docs.neynar.com/reference/user-search
      operationId: user-search
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: q
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: r
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          maximum: 10
          type: integer
          format: int32
          default: 5
        example: 10
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSearchResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/bulk:
    get:
      tags:
      - User
      summary: Fetch users based on FIDs
      description: Fetches information about multiple users based on FIDs
      externalDocs:
        url: https://docs.neynar.com/reference/user-bulk
      operationId: user-bulk
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fids
        in: query
        description: "Comma separated list of FIDs, up to 100 at a time"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "194, 191, 6131"
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUsersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/power:
    get:
      tags:
      - User
      summary: Fetch power user objects
      description: Fetches power users based on Warpcast power badges. Information
        is updated once a day.
      externalDocs:
        url: https://docs.neynar.com/reference/user-power
      operationId: power-users
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: limit
        in: query
        description: "Number of power users to fetch, max 100"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 25
        example: 10
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/power_lite:
    get:
      tags:
      - User
      summary: Fetch power user FIDs
      description: Fetches power users and respond in a backwards compatible format
        to Warpcast's deprecated power badge endpoint.
      externalDocs:
        url: https://docs.neynar.com/reference/user-power-lite
      operationId: user-power-lite
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPowerLiteResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/active:
    get:
      tags:
      - User
      summary: Fetch active users
      description: Warpcast has deprecated the active badge. Use user/power endpoint
        instead.
      externalDocs:
        url: https://docs.neynar.com/reference/active-users
      operationId: active-users
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 25
        example: 10
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
      deprecated: true
  /farcaster/user/bulk-by-address:
    get:
      tags:
      - User
      summary: Fetches users based on Eth or Sol addresses
      description: |-
        Fetches all users based on multiple Ethereum or Solana addresses.

        Each farcaster user has a custody Ethereum address and optionally verified Ethereum or Solana addresses. This endpoint returns all users that have any of the given addresses as their custody or verified Ethereum or Solana addresses.

        A custody address can be associated with only 1 farcaster user at a time but a verified address can be associated with multiple users.
        You can pass in Ethereum and Solana addresses, comma separated, in the same request. The response will contain users associated with the given addresses.
      externalDocs:
        url: https://docs.neynar.com/reference/user-bulk-by-address
      operationId: user-bulk-by-address
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: addresses
        in: query
        description: "Comma separated list of Ethereum addresses, up to 350 at a time"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "0xa6a8736f18f383f1cc2d938576933e5ea7df01a1,0x7cac817861e5c3384753403fb6c0c556c204b1ce"
      - name: address_types
        in: query
        description: |
          Customize which address types the request should search for. This is a comma-separated string that can include the following values: 'custody_address' and 'verified_address'. By default api returns both. To select multiple types, use a comma-separated list of these values.
        required: false
        style: form
        explode: true
        schema:
          pattern: "^(custody_address,?|verified_address,?)+$"
          type: string
        example: "custody_address,verified_address"
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUsersByAddressResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/channels:
    get:
      tags:
      - Channel
      summary: Retrieve all channels that a given fid follows
      description: Returns a list of all channels with their details that a fid follows.
      externalDocs:
        url: https://docs.neynar.com/reference/user-channels
      operationId: user-channels
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: The fid of the user.
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'
  /farcaster/user:
    post:
      tags:
      - User
      summary: Register account on farcaster
      description: |
        Register account on farcaster.

        **Note:** This API must be called within 10 minutes of the fetch fid API call (i.e., /v2/farcaster/user/fid). Otherwise, Neynar will assign this fid to another available user.
      externalDocs:
        url: https://docs.neynar.com/reference/register-user
      operationId: register-user
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUserReqBody'
            example:
              signature: 0xe0cd4da80fb30d59e3ce5a10768c35043bc31487362977cf0a3acf15338a730f4aa329568055c943d777dd81fcb60292f15fc0bcf644da1943b6aa0b3ea9bdcf1b
              fid: 321518
              requested_user_custody_address: 0x2c57e688154C082955cF205F4A335E852D3e25f1
              deadline: 1707371935
              fname: desired_fname
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterUserResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    patch:
      tags:
      - User
      summary: Update user profile
      description: |
        Update user profile \
        (In order to update user's profile `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/update-user
      operationId: update-user
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              bio: Hey there..!!!
              pfp_url: https://i.imgur.com/keIWEYM.jpg
              username: dan
              display_name: Dan Romero
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/message:
    post:
      tags:
      - Signer
      summary: Publish a message to farcaster
      description: Publish a message to farcaster. The message must be signed by a
        signer managed by the developer. Use the @farcaster/core library to construct
        and sign the message. Use the Message.toJSON method on the signed message
        and pass the JSON in the body of this POST request.
      externalDocs:
        url: https://docs.neynar.com/reference/publish-message
      operationId: publish-message
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishMessageReqBody'
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublishMessageResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/cast:
    get:
      tags:
      - Cast
      summary: Retrieve cast for a given hash or Warpcast URL
      description: Gets information about an individual cast by passing in a Warpcast
        web URL or cast hash
      externalDocs:
        url: https://docs.neynar.com/reference/cast
      operationId: cast
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: identifier
        in: query
        description: Cast identifier (Its either a url or a hash)
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: https://warpcast.com/rish/0x9288c1
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/CastParamType'
        example: url
      - name: viewer_fid
        in: query
        description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    post:
      tags:
      - Cast
      summary: Posts a cast
      description: "Posts a cast or cast reply. Works with mentions and embeds.  \n\
        (In order to post a cast `signer_uuid` must be approved)\n"
      externalDocs:
        url: https://docs.neynar.com/reference/post-cast
      operationId: post-cast
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCastReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              text: Writing to @farcaster via the @neynar APIs 🪐
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostCastResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      tags:
      - Cast
      summary: Delete a cast
      description: |
        Delete an existing cast. \
        (In order to delete a cast `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/delete-cast
      operationId: delete-cast
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCastReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_hash: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/casts:
    get:
      tags:
      - Cast
      summary: Gets information about an array of casts
      description: Retrieve multiple casts using their respective hashes.
      externalDocs:
        url: https://docs.neynar.com/reference/casts
      operationId: casts
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: casts
        in: query
        description: Hashes of the cast to be retrived (Comma separated)
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "0xa896906a5e397b4fec247c3ee0e9e4d4990b8004,0x27ff810f7f718afd8c40be236411f017982e0994"
      - name: viewer_fid
        in: query
        description: adds viewer_context to cast object to show whether viewer has
          liked or recasted the cast.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: sort_type
        in: query
        description: Optional parameter to sort the casts based on different criteria
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - trending
          - likes
          - recasts
          - replies
          - recent
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/cast/search:
    get:
      tags:
      - Cast
      summary: Search for casts
      description: "Search for casts based on a query string, with optional AND filters"
      externalDocs:
        url: https://docs.neynar.com/reference/cast-search
      operationId: cast-search
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: q
        in: query
        description: Query string to search for casts
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: star wars
      - name: author_fid
        in: query
        description: Fid of the user whose casts you want to search
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 194
      - name: viewer_fid
        in: query
        description: "Fid of the viewer of the casts, used to show viewer_context"
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: parent_url
        in: query
        description: Parent URL of the casts you want to search
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: channel_id
        in: query
        description: Channel ID of the casts you want to search
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          type: integer
          format: int32
          default: 25
        example: 25
      - name: cursor
        in: query
        description: Pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsSearchResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/cast/conversation:
    get:
      tags:
      - Cast
      summary: Retrieve the conversation for a given cast
      description: Gets all casts related to a conversation surrounding a cast by
        passing in a cast hash or Warpcast URL. Includes all the ancestors of a cast
        up to the root parent in a chronological order. Includes all direct_replies
        to the cast up to the reply_depth specified in the query parameter.
      externalDocs:
        url: https://docs.neynar.com/reference/cast-conversation
      operationId: cast-conversation
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: identifier
        in: query
        description: Cast identifier (Its either a url or a hash)
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: https://warpcast.com/rish/0x9288c1
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/CastParamType'
        example: url
      - name: reply_depth
        in: query
        description: The depth of replies in the conversation that will be returned
          (default 2)
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ReplyDepth'
      - name: include_chronological_parent_casts
        in: query
        description: Include all parent casts in chronological order
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: limit
        in: query
        description: "Number of results to retrieve (default 20, max 50)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          default: 20
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed:
    get:
      tags:
      - Feed
      summary: Retrieve casts based on filters
      description: Retrieve casts based on filters. Ensure setting the correct parameters
        based on the feed_type and filter_type.
      externalDocs:
        url: https://docs.neynar.com/reference/feed
      operationId: feed
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: feed_type
        in: query
        description: Defaults to following (requires fid or address). If set to filter
          (requires filter_type)
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FeedType'
        example: filter
      - name: filter_type
        in: query
        description: Used when feed_type=filter. Can be set to fids (requires fids)
          or parent_url (requires parent_url) or channel_id (requires channel_id)
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FilterType'
        example: fids
      - name: fid
        in: query
        description: "(Optional) fid of user whose feed you want to create. By default,\
          \ the API expects this field, except if you pass a filter_type"
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
      - name: fids
        in: query
        description: Used when filter_type=fids . Create a feed based on a list of
          fids. Max array size is 250. Requires feed_type and filter_type.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: "3,2,194"
      - name: parent_url
        in: query
        description: Used when filter_type=parent_url can be used to fetch content
          under any parent url e.g. FIP-2 channels on Warpcast. Requires feed_type
          and filter_type
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: channel_id
        in: query
        description: Used when filter_type=channel_id can be used to fetch all casts
          under a channel. Requires feed_type and filter_type
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: embed_url
        in: query
        description: Used when filter_type=embed_url can be used to fetch all casts
          with an embed url that contains embed_url. Requires feed_type and filter_type
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: embed_types
        in: query
        description: Used when filter_type=embed_types can be used to fetch all casts
          with matching content types. Requires feed_type and filter_type
        required: false
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/EmbedType'
      - name: with_recasts
        in: query
        description: "Include recasts in the response, true by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/following:
    get:
      tags:
      - Feed
      summary: Retrieve feed based on who a user is following
      description: Retrieve feed based on who a user is following
      externalDocs:
        url: https://docs.neynar.com/reference/feed-following
      operationId: feed-following
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: fid of user whose feed you want to create
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: with_recasts
        in: query
        description: "Include recasts in the response, true by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/for_you:
    get:
      tags:
      - Feed
      summary: Retrieve a personalized For You feed for a user
      description: Retrieve a personalized For You feed for a user
      externalDocs:
        url: https://docs.neynar.com/reference/feed-for-you
      operationId: feed-for-you
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: fid of user whose feed you want to create
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 194
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: provider
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ForYouProvider'
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 50)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/subscriptions_created:
    get:
      tags:
      - Subscribers
      summary: Fetch created subscriptions for a given fid
      description: Fetch created subscriptions for a given fid's.
      externalDocs:
        url: https://docs.neynar.com/reference/subscriptions-created
      operationId: subscriptions-created
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 528
      - name: subscription_provider
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SubscriptionProvider'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/subscribed_to:
    get:
      tags:
      - Subscribers
      summary: Fetch what a given fid is subscribed to
      description: Fetch what fids and contracts a fid is subscribed to.
      externalDocs:
        url: https://docs.neynar.com/reference/subscribed-to
      operationId: subscribed-to
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3206
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: subscription_provider
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SubscriptionProvider'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribedToResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/subscribers:
    get:
      tags:
      - Subscribers
      summary: Fetch subscribers for a given fid
      description: Fetch subscribers for a given fid's contracts. Doesn't return addresses
        that don't have an fid.
      externalDocs:
        url: https://docs.neynar.com/reference/subscribers
      operationId: subscribers
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3206
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: subscription_provider
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/SubscriptionProviders'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscribersResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/channels:
    get:
      tags:
      - Feed
      summary: Retrieve feed based on channel ids
      description: Retrieve feed based on channel ids
      externalDocs:
        url: https://docs.neynar.com/reference/feed-channels
      operationId: feed-channels
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: channel_ids
        in: query
        description: "Comma separated list of channel ids e.g. neynar,farcaster"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "neynar,farcaster"
      - name: with_recasts
        in: query
        description: "Include recasts in the response, true by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: with_replies
        in: query
        description: "Include replies in the response, false by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: should_moderate
        in: query
        description: "If true, only casts that have been liked by the moderator (if\
          \ one exists) will be returned."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/parent_urls:
    get:
      tags:
      - Feed
      summary: Retrieve feed based on parent urls
      description: Retrieve feed based on parent urls
      externalDocs:
        url: https://docs.neynar.com/reference/feed/parent_urls
      operationId: feed-parent-urls
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: parent_urls
        in: query
        description: Comma separated list of parent_urls
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: chain://eip155:1/erc721:0xd4498134211baad5846ce70ce04e7c4da78931cc
      - name: with_recasts
        in: query
        description: "Include recasts in the response, true by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: with_replies
        in: query
        description: "Include replies in the response, false by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/frames:
    get:
      tags:
      - Feed
      summary: "Retrieve feed of casts with Frames, reverse chronological order"
      description: "Retrieve feed of casts with Frames, reverse chronological order"
      externalDocs:
        url: https://docs.neynar.com/reference/feed-frames
      operationId: feed-frames
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 25
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/trending:
    get:
      tags:
      - Feed
      summary: Retrieve trending casts
      description: Retrieve trending casts or on the global feed or channels feeds.
        7d time window available for channel feeds only.
      externalDocs:
        url: https://docs.neynar.com/reference/feed-trending
      operationId: feed-trending
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: limit
        in: query
        description: Number of results to retrieve (max 10)
        required: false
        style: form
        explode: true
        schema:
          maximum: 10
          minimum: 1
          type: integer
          default: 10
      - name: cursor
        in: query
        description: Pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: time_window
        in: query
        description: Time window for trending casts (7d window for channel feeds only)
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 1h
          - 6h
          - 12h
          - 24h
          - 7d
          default: 24h
      - name: channel_id
        in: query
        description: Channel ID to filter trending casts. Less active channels might
          have no casts in the time window selected.
        required: false
        style: form
        explode: true
        schema:
          type: string
        example: neynar
      - name: provider
        in: query
        description: The provider of the trending casts feed.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FeedTrendingProvider'
        example: neynar
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/user/popular:
    get:
      tags:
      - Feed
      summary: Retrieve 10 most popular casts for a user
      description: "Retrieve 10 most popular casts for a given user FID; popularity\
        \ based on replies, likes and recasts; sorted by most popular first"
      externalDocs:
        url: https://docs.neynar.com/reference/feed-user-popular
      operationId: feed-user-popular
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: fid of user whose feed you want to create
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 194
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCastsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/user/replies_and_recasts:
    get:
      tags:
      - Feed
      summary: Retrieve recent replies and recasts for a user
      description: Retrieve recent replies and recasts for a given user FID; sorted
        by most recent first
      externalDocs:
        url: https://docs.neynar.com/reference/feed-user-replies-recasts
      operationId: feed-user-replies-recasts
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: fid of user whose replies and recasts you want to fetch
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 194
      - name: filter
        in: query
        description: filter to fetch only replies or recasts
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - replies
          - recasts
          - all
          default: all
        example: replies
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 100)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 50
          minimum: 1
          type: integer
          example: 25
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: viewer_fid
        in: query
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/feed/user/casts:
    get:
      tags:
      - Feed
      summary: Retrieve casts for a user
      description: Retrieve casts for a given user FID in reverse chronological order.
        Also allows filtering by parent_url and channel
      externalDocs:
        url: https://docs.neynar.com/reference/feed-user-casts
      operationId: feed-user-casts
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: FID of user whose recent casts you want to fetch
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 194
      - name: viewer_fid
        in: query
        description: FID of the user viewing the feed
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 3
      - name: limit
        in: query
        description: "Number of results to retrieve (default 25, max 50)"
        required: false
        style: form
        explode: true
        schema:
          maximum: 150
          minimum: 1
          type: integer
          default: 25
      - name: cursor
        in: query
        description: Pagination cursor
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: include_replies
        in: query
        description: "Include reply casts by the author in the response, true by default"
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: parent_url
        in: query
        description: Parent URL to filter the feed; mutually exclusive with channel_id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: channel_id
        in: query
        description: Channel ID to filter the feed; mutually exclusive with parent_url
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame:
    get:
      tags:
      - Frame
      summary: Retrieve a frame by UUID or URL
      description: Retrieve a frame either by UUID or Neynar URL
      operationId: lookup-neynar-frame
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FrameType'
      - name: uuid
        in: query
        description: UUID of the frame to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: url
        in: query
        description: URL of the Neynar frame to retrieve
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: A frame object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    put:
      tags:
      - Frame
      summary: Update an existing frame
      description: "Update an existing frame with a list of pages, if it was made\
        \ by the developer (identified by API key)"
      operationId: update-neynar-frame
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeynarFrameUpdateRequest'
        required: true
      responses:
        "200":
          description: Frame updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    post:
      tags:
      - Frame
      summary: Create a new frame
      description: Create a new frame with a list of pages.
      operationId: publish-neynar-frame
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NeynarFrameCreationRequest'
        required: true
      responses:
        "200":
          description: Frame created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NeynarFrame'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      tags:
      - Frame
      summary: Delete a frame
      description: "Delete an existing frame, if it was made by the developer (identified\
        \ by API key)"
      operationId: delete-neynar-frame
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/farcaster_frame_body'
        required: true
      responses:
        "200":
          description: Frame deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFrameResponse'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/list:
    get:
      tags:
      - Frame
      summary: Retrieve a list of frames
      description: Retrieve a list of frames made by the developer (identified by
        API key)
      operationId: fetch-neynar-frames
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      responses:
        "200":
          description: A list of frames
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NeynarFrame'
                x-content-type: application/json
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/crawl:
    get:
      tags:
      - Frame
      summary: Fetches the frame meta tags from the URL
      description: Fetches the frame meta tags from the URL
      operationId: frame-from-url
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: url
        in: query
        description: The frame URL to crawl
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: uri
        example: https://frames.neynar.com/f/862277df/ff7be6a4
      responses:
        "200":
          description: The response object containing the frame object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/reaction:
    post:
      tags:
      - Reaction
      summary: Posts a reaction
      description: |
        Post a reaction (like or recast) to a given cast \
        (In order to post a reaction `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/post-reaction
      operationId: post-reaction
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              reaction_type: like
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      tags:
      - Reaction
      summary: Delete a reaction
      description: |
        Delete a reaction (like or recast) to a given cast \
        (In order to delete a reaction `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/delete-reaction
      operationId: delete-reaction
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              reaction_type: like
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/verification:
    post:
      tags:
      - User
      summary: Adds verification for an ethereum address or contract for the user
      description: |
        Adds verification for an eth address or contract for the user \
        (In order to add verification `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/add-verification
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddVerificationReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              address: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
              block_hash: 0x191905a9201170abb55f4c90a4cc968b44c1b71cdf3db2764b775c93e7e22b29
              eth_signature: 0x2fc09da1f4dcb723fefb91f77932c249c418c0af00c66ed92ee1f35002c80d6a1145280c9f361d207d28447f8f7463366840d3a9309036cf6954afd1fd331beb1b
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
    delete:
      tags:
      - User
      summary: Removes verification for an eth address for the user
      description: |
        Removes verification for an eth address for the user \
        (In order to delete verification `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/remove-verification
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveVerificationReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              address: 0x1ea99cbed57e4020314ba3fadd7c692d2de34d5f
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResponse'
  /farcaster/user/follow:
    post:
      tags:
      - User
      summary: Follow a user
      description: |
        Follow a user \
        (In order to follow a user `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/follow-user
      operationId: follow-user
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_fids:
              - 3
              - 194
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkFollowResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
    delete:
      tags:
      - User
      summary: Unfollow a user
      description: |
        Unfollow a user \
        (In order to unfollow a user `signer_uuid` must be approved)
      externalDocs:
        url: https://docs.neynar.com/reference/unfollow-user
      operationId: unfollow-user
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FollowReqBody'
            example:
              signer_uuid: 19d0c5fd-9b33-4a48-a0e2-bc7b0555baec
              target_fids:
              - 3
              - 194
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkFollowResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/user/custody-address:
    get:
      tags:
      - User
      summary: Lookup a user by custody-address
      description: Lookup a user by custody-address
      externalDocs:
        url: https://docs.neynar.com/reference/lookup-user-by-custody-address
      operationId: lookup-user-by-custody-address
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: custody_address
        in: query
        description: Custody Address associated with mnemonic
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 0xd1b702203b1b3b641a699997746bd4a12d157909
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/login/authorize:
    get:
      tags:
      - Signer
      summary: Fetch authorization url
      description: Fetch authorization url (Fetched authorized url useful for SIWN
        login operation)
      externalDocs:
        url: https://docs.neynar.com/reference/fetch-authorization-url
      operationId: fetch-authorization-url
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: client_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: response_type
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/AuthorizationUrlResponseType'
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationUrlResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/developer_managed/action:
    post:
      tags:
      - Frame
      summary: Posts a frame signature packet
      description: |
        Post a frame action that has been signed with a developer managed signer

        The POST request to the post_url has a timeout of 5 seconds.
      externalDocs:
        url: https://docs.neynar.com/reference/post-frame-developer-managed-action
      operationId: post-frame-developer-managed-action
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrameDeveloperManagedActionReqBody'
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/action:
    post:
      tags:
      - Frame
      summary: "Posts a frame action, cast action or a cast composer action"
      description: |
        Post frame actions, cast actions or cast composer actions to the server  \
        (In order to post any of these actions, you need to have an approved `signer_uuid`)

        The POST request to the post_url has a timeout of 5 seconds for frames.
      externalDocs:
        url: https://docs.neynar.com/reference/post-frame-action
      operationId: post-frame-action
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FrameActionReqBody'
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frame'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/validate:
    post:
      tags:
      - Frame
      summary: Validates a frame action against Farcaster Hub
      description: |
        Validates a frame against by an interacting user against a Farcaster Hub \
        (In order to validate a frame, message bytes from Frame Action must be provided in hex)
      externalDocs:
        url: https://docs.neynar.com/reference/validate-frame
      operationId: validate-frame
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/frame_validate_body'
        required: true
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateFrameActionResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/validate/list:
    get:
      tags:
      - Frame
      summary: Retrieve a list of all the frames validated by a user
      description: Retrieve a list of all the frames validated by a user
      externalDocs:
        url: https://docs.neynar.com/reference/validate-frame-list
      operationId: validate-frame-list
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameValidateListResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/frame/validate/analytics:
    get:
      tags:
      - Frame
      summary: Retrieve analytics for the frame
      description: "Retrieve analytics for total-interactors, interactors, nteractions-per-cast\
        \ and input-text."
      externalDocs:
        url: https://docs.neynar.com/reference/validate-frame-analytics
      operationId: validate-frame-analytics
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: frame_url
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: uri
        example: https://shorturl.at/bDRY9
      - name: analytics_type
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ValidateFrameAnalyticsType'
      - name: start
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
          default: 2024-04-06T06:44:56.811Z
      - name: stop
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date-time
          default: 2024-04-08T06:44:56.811Z
      - name: aggregate_window
        in: query
        description: Required for `analytics_type=interactions-per-cast`
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - 10s
          - 1m
          - 2m
          - 5m
          - 10m
          - 20m
          - 30m
          - 2h
          - 12h
          - 1d
          - 7d
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameValidateAnalyticsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
  /farcaster/notifications:
    get:
      tags:
      - Notifications
      summary: Retrieve notifications for a given user
      description: Returns a list of notifications for a specific FID.
      externalDocs:
        url: https://docs.neynar.com/reference/notifications
      operationId: notifications
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: fid
        in: query
        description: FID of the user you you want to fetch notifications for
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/Fid'
        example: 194
      - name: type
        in: query
        description: Notification type to fetch.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/NotificationType'
      - name: cursor
        in: query
        description: Pagination cursor.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
[...]
