openapi: 3.0.0
info:
  title: Farcaster API V1
  version: "1.0"
servers:
- url: https://api.neynar.com/v1
tags:
- description: Operations related to user
  externalDocs:
    description: More info about user
    url: https://docs.neynar.com/reference/user-operations-v1
  name: User
- description: Operations related to cast
  externalDocs:
    description: More info about cast
    url: https://docs.neynar.com/reference/cast-operations-v1
  name: Cast
- description: Operations related to Verifications
  externalDocs:
    description: More info about Verifications
    url: https://docs.neynar.com/reference/verification-operations-v1
  name: Verification
- description: Operations related to notifications
  externalDocs:
    description: More info about notifications
    url: https://docs.neynar.com/reference/notification-operations-v1
  name: Notifications
- description: Operations related to reactions
  externalDocs:
    description: More info about reaction
    url: https://docs.neynar.com/reference/reaction-operations-v1
  name: Reactions
- description: Operations related to follows
  externalDocs:
    description: More info about follows
    url: https://docs.neynar.com/reference/follow-operations-v1
  name: Follows
paths:
  /farcaster/user:
    get:
      deprecated: true
      description: "Now deprecated, use [v2/user/bulk](https://docs.neynar.com/reference/user-bulk).\
        \ Returns metadata about a specific user"
      externalDocs:
        url: https://docs.neynar.com/reference/user-v1
      operationId: user
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of a user
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: DEPRECATED - Get User Information by FID
      tags:
      - User
  /farcaster/user-by-username:
    get:
      deprecated: false
      description: Returns metadata about a specific user
      externalDocs:
        url: https://docs.neynar.com/reference/user-by-username-v1
      operationId: user-by-username
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Username of the user
        explode: true
        in: query
        name: username
        required: false
        schema:
          default: shreyas-chorge
          type: string
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Resource not found
      summary: Get User Information by username
      tags:
      - User
  /farcaster/user-cast-likes:
    get:
      deprecated: true
      description: "Now deprecated. use [/v2/reactions/user](https://docs.neynar.com/reference/reactions-user).\
        \ Fetch all the liked cast of a User"
      externalDocs:
        url: https://docs.neynar.com/reference/user-cast-likes-v1
      operationId: user-cast-likes
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of the user
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCastLikeResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED -- Get User Cast Likes
      tags:
      - User
  /farcaster/recent-users:
    get:
      description: Get a list of casts from the protocol in reverse chronological
        order based on timestamp
      externalDocs:
        url: https://docs.neynar.com/reference/recent-users-v1
      operationId: recent-users
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 100, max 1000)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentUsersResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Get Recent Users
      tags:
      - User
  /farcaster/custody-address:
    get:
      deprecated: true
      description: "Now deprecated, use [v2/user/bulk](https://docs.neynar.com/reference/user-bulk),\
        \ find custody address in user obj. Returns the custody address for a given\
        \ FID"
      externalDocs:
        url: https://docs.neynar.com/reference/custody-address-v1
      operationId: custody-address
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of a user
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyAddressResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Get the custody address for a given FID
      tags:
      - User
  /farcaster/cast:
    get:
      deprecated: true
      description: "Now deprecated, use [v2/cast](https://docs.neynar.com/reference/cast).\
        \ Gets information about an individual cast"
      externalDocs:
        url: https://docs.neynar.com/reference/cast-v1
      operationId: cast
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Cast hash
        explode: true
        in: query
        name: hash
        required: false
        schema:
          $ref: '#/components/schemas/CastHash'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Retrieve cast for a given hash
      tags:
      - Cast
  /farcaster/all-casts-in-thread:
    get:
      deprecated: true
      description: "Now deprecated, use [v2/cast/conversation](https://docs.neynar.com/reference/cast-conversation).\
        \ Gets all casts, including root cast and all replies for a given thread hash.\
        \ No limit the depth of replies."
      externalDocs:
        url: https://docs.neynar.com/reference/all-casts-in-thread-v1
      operationId: all-casts-in-thread
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: The hash of the thread to retrieve casts from.
        explode: true
        in: query
        name: threadHash
        required: false
        schema:
          $ref: '#/components/schemas/CastHash'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllCastsInThreadResponse'
          description: Successful operation
      summary: DEPRECATED - Retrieve all casts in a given thread hash
      tags:
      - Cast
  /farcaster/casts:
    get:
      deprecated: true
      description: "Now deprecated, use [/v2/farcaster/feed/user/casts](https://docs.neynar.com/reference/feed-user-casts)\
        \ instead"
      externalDocs:
        url: https://docs.neynar.com/reference/casts-v1
      operationId: casts
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of a user
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: A cast can be part of a certain channel. The channel is identified
          by `parent_url`. All casts in the channel ladder up to the same parent_url.
        example: https://ethereum.org
        explode: true
        in: query
        name: parent_url
        required: false
        schema:
          type: string
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Retrieve casts for a given user
      tags:
      - Cast
  /farcaster/recent-casts:
    get:
      description: Get a list of casts from the protocol in reverse chronological
        order based on timestamp
      externalDocs:
        url: https://docs.neynar.com/reference/recent-casts-v1
      operationId: recent-casts
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 100)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentCastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Get Recent Casts
      tags:
      - Cast
  /farcaster/verifications:
    get:
      deprecated: true
      description: "Now deprecated, use [v2/user/bulk](https://docs.neynar.com/reference/user-bulk),\
        \ verifications are in the user object. Get all known verifications of a user."
      externalDocs:
        url: https://docs.neynar.com/reference/verifications-v1
      operationId: verifications
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of the user
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
          description: Profile details and verifications for the given FID.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Retrieve verifications for a given FID
      tags:
      - Verification
  /farcaster/user-by-verification:
    get:
      deprecated: true
      description: "Now deprecated. Use [v2/user/bulk-by-address](https://docs.neynar.com/reference/user-bulk-by-address).\
        \ Checks if a given Ethereum address has a Farcaster user associated with\
        \ it. Note: if an address is associated with multiple users, the API will\
        \ return the user who most recently published a verification with the address\
        \ (based on when Warpcast received the proof, not a self-reported timestamp)."
      externalDocs:
        url: https://docs.neynar.com/reference/user-by-verification-v1
      operationId: user-by-verification
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - explode: true
        in: query
        name: address
        required: false
        schema:
          $ref: '#/components/schemas/Address'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Retrieve user for a given ethereum address
      tags:
      - Verification
  /farcaster/mentions-and-replies:
    get:
      description: Gets a list of 15 mentions and replies to the user’s casts in reverse
        chronological order
      externalDocs:
        url: https://docs.neynar.com/reference/mentions-and-replies-v1
      operationId: mentions-and-replies
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of a user
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MentionsAndRepliesResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Get mentions and replies
      tags:
      - Notifications
  /farcaster/reactions-and-recasts:
    get:
      description: Get a list of reactions and recasts to the users’s casts in reverse
        chronological order
      externalDocs:
        url: https://docs.neynar.com/reference/reactions-and-recasts-v1
      operationId: reactions-and-recasts
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: fid of a user
        example: 6131
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        example: 3
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionsAndRecastsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Get reactions and recasts
      tags:
      - Notifications
  /farcaster/cast-likes:
    get:
      deprecated: true
      description: "Now deprecated, use [/v2/farcaster/reactions/cast](https://docs.neynar.com/reference/reactions-cast)\
        \ - Get all like reactions for a specific cast in reverse chronological order."
      externalDocs:
        url: https://docs.neynar.com/reference/cast-likes-v1
      operationId: cast-likes
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Cast hash
        explode: true
        in: query
        name: castHash
        required: false
        schema:
          $ref: '#/components/schemas/CastHash'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastLikesResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Get all like reactions for a specific cast
      tags:
      - Reactions
  /farcaster/cast-reactions:
    get:
      deprecated: true
      description: "Now deprecated, use [/v2/farcaster/reactions/cast](https://docs.neynar.com/reference/reactions-cast)\
        \ - Get all reactions (likes and recasts) for a specific cast."
      externalDocs:
        url: https://docs.neynar.com/reference/cast-reactions-v1
      operationId: cast-reactions
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Cast hash
        explode: true
        in: query
        name: castHash
        required: false
        schema:
          $ref: '#/components/schemas/CastHash'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastReactionsResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Get all reactions for a specific cast
      tags:
      - Reactions
  /farcaster/cast-recasters:
    get:
      deprecated: true
      description: "Now deprecated, use [/v2/farcaster/reactions/cast](https://docs.neynar.com/reference/reactions-cast)\
        \ - Get all recasters for a specific cast."
      externalDocs:
        url: https://docs.neynar.com/reference/cast-recasters-v1
      operationId: cast-recasters
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: Cast hash
        explode: true
        in: query
        name: castHash
        required: false
        schema:
          $ref: '#/components/schemas/CastHash'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CastRecasterResponse'
          description: Successful operation.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: DEPRECATED - Get all recasters for a specific cast
      tags:
      - Reactions
  /farcaster/followers:
    get:
      description: Gets a list of users who follow a given user in reverse chronological
        order.
      externalDocs:
        url: https://docs.neynar.com/reference/followers-v1
      operationId: followers
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of the user
        example: 6131
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        example: 194
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Gets all followers for a given FID
      tags:
      - Follows
  /farcaster/following:
    get:
      description: Gets a list of users who is following a given user in reverse chronological
        order.
      externalDocs:
        url: https://docs.neynar.com/reference/following-v1
      operationId: following
      parameters:
      - description: API key required for authentication.
        explode: false
        in: header
        name: api_key
        required: false
        schema:
          default: NEYNAR_API_DOCS
          type: string
        style: simple
      - description: FID of the user
        example: 6131
        explode: true
        in: query
        name: fid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "fid of the user viewing this information, needed for contextual\
          \ information."
        example: 194
        explode: true
        in: query
        name: viewerFid
        required: false
        schema:
          $ref: '#/components/schemas/Fid'
        style: form
      - description: "Number of results to retrieve (default 25, max 150)"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 150
          minimum: 1
          type: integer
        style: form
      - description: Pagination cursor.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowResponse'
          description: Successful operation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
          description: Bad Request
      summary: Gets all following users of a FID
      tags:
      - Follows
components:
  parameters:
    ApiKey:
      description: API key required for authentication.
      explode: false
      in: header
      name: api_key
      required: false
      schema:
        default: NEYNAR_API_DOCS
        type: string
      style: simple
  responses:
    "404Response":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
      description: Resource not found
    "400Response":
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
      description: Bad Request
  schemas:
    ViewerContext:
      example:
        followedBy: true
        following: true
        recasted: true
        liked: true
      properties:
        following:
          type: boolean
        followedBy:
          type: boolean
        liked:
          type: boolean
        recasted:
          type: boolean
      type: object
    Fid:
      default: 3
      description: User identifier (unsigned integer)
      format: int32
      type: integer
    ActiveStatus:
      description: |
        The status of a user.
          - active: The user is currently active.
          - inactive: The user is not currently active.
      enum:
      - active
      - inactive
      type: string
    ReactionType:
      description: |
        The reaction type of a cast.
          - like: Cast is being liked by a user.
          - recast: Cast is being recasted by a user.
      enum:
      - like
      - recast
      type: string
    CastType:
      description: |
        The notification type of a cast.
      enum:
      - cast-mention
      - cast-reply
      type: string
    Address:
      default: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
      description: Ethereum address
      type: string
    CastHash:
      default: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
      description: Cast Hash
      type: string
    Timestamp:
      format: date-time
      type: string
    ErrorRes:
      description: Returns ErrorRes metadata
      example:
        code: code
        property: property
        message: message
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
      type: object
    User:
      example:
        fid: 0
        custodyAddress: custodyAddress
        activeStatus: active
        displayName: displayName
        profile:
          bio:
            mentionedProfiles:
            - mentionedProfiles
            - mentionedProfiles
            text: text
        viewerContext:
          followedBy: true
          following: true
          recasted: true
          liked: true
        pfp:
          url: url
        verifications:
        - null
        - null
        followerCount: 6
        followingCount: 1
        username: username
      properties:
        fid:
          default: 3
          description: User identifier (unsigned integer)
          format: int32
          type: integer
        username:
          description: The username of the user.
          type: string
        custodyAddress:
          description: Custody Address of the user.
          type: string
        displayName:
          description: The display of the reactor.
          type: string
        pfp:
          $ref: '#/components/schemas/User_pfp'
        profile:
          $ref: '#/components/schemas/User_profile'
        followerCount:
          description: The number of followers the user has.
          format: int32
          type: integer
        followingCount:
          description: The number of users the user is following.
          format: int32
          type: integer
        verifications:
          items:
            $ref: '#/components/schemas/Address'
          type: array
        activeStatus:
          $ref: '#/components/schemas/ActiveStatus'
        viewerContext:
          $ref: '#/components/schemas/ViewerContext'
      type: object
    Reactor:
      example:
        fid: 0
        displayName: displayName
        viewerContext:
          followedBy: true
          following: true
        pfp:
          url: url
        followerCount: 6
        followingCount: 1
        username: username
      properties:
        fid:
          description: The unique identifier of the reactor.
          format: int32
          type: integer
        username:
          description: The username of the reactor.
          type: string
        displayName:
          description: The display name of the reactor.
          type: string
        pfp:
          $ref: '#/components/schemas/Reactor_pfp'
        followerCount:
          description: The number of followers the reactor has.
          format: int32
          type: integer
        followingCount:
          description: The number of users the reactor is following.
          format: int32
          type: integer
        viewerContext:
          $ref: '#/components/schemas/Reactor_viewerContext'
      type: object
    Recaster:
      example:
        fid: 0
        displayName: displayName
        profile:
          bio:
            mentions:
            - mentions
            - mentions
            text: text
        viewerContext:
          followedBy: true
          following: true
        pfp:
          url: url
        followerCount: 6
        followingCount: 1
        username: username
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        fid:
          description: The unique identifier of the recaster.
          format: int32
          type: integer
        username:
          description: The username of the recaster.
          type: string
        displayName:
          description: The display name of the recaster.
          type: string
        pfp:
          $ref: '#/components/schemas/Recaster_pfp'
        profile:
          $ref: '#/components/schemas/Recaster_profile'
        followerCount:
          description: The number of followers the recaster has.
          format: int32
          type: integer
        followingCount:
          description: The number of users the recaster is following.
          format: int32
          type: integer
        timestamp:
          format: date-time
          type: string
        viewerContext:
          $ref: '#/components/schemas/Recaster_viewerContext'
      type: object
    EmbedUrl:
      example:
        url: url
      properties:
        url:
          type: string
      type: object
    ReactionWithCastMeta:
      description: "Reaction of a user (either like or recast), along with its associated\
        \ cast"
      example:
        cast:
          cast_timestamp: 2000-01-23T04:56:07.000+00:00
          cast_text: cast_text
          cast_embeds:
          - url: url
          - url: url
          cast_fid: 6
          cast_hash: cast_hash
        reaction:
          reaction_target_hash: reaction_target_hash
          reaction_type: like
          reactor_fid: 0
          reaction_hash: reaction_hash
          reaction_timestamp: 2000-01-23T04:56:07.000+00:00
        cast_author:
          fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
      properties:
        reaction:
          $ref: '#/components/schemas/ReactionWithCastMeta_reaction'
        cast:
          $ref: '#/components/schemas/ReactionWithCastMeta_cast'
        cast_author:
          $ref: '#/components/schemas/User'
      type: object
    Reaction:
      example:
        reactor:
          fid: 0
          displayName: displayName
          viewerContext:
            followedBy: true
            following: true
          pfp:
            url: url
          followerCount: 6
          followingCount: 1
          username: username
        type: like
        hash: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
        timestamp: 2000-01-23T04:56:07.000+00:00
        castHash: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
      properties:
        type:
          $ref: '#/components/schemas/ReactionType'
        hash:
          default: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
          description: Ethereum address
          type: string
        reactor:
          $ref: '#/components/schemas/Reactor'
        timestamp:
          format: date-time
          type: string
        castHash:
          default: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
          description: Cast Hash
          type: string
      type: object
    Cast:
      properties:
        hash:
          type: string
        parentHash:
          nullable: true
          type: string
        parentUrl:
          nullable: true
          type: string
        threadHash:
          type: string
        parentAuthor:
          $ref: '#/components/schemas/Cast_parentAuthor'
        mentionedProfiles:
          items:
            $ref: '#/components/schemas/User'
          type: array
        author:
          $ref: '#/components/schemas/Cast_author'
        text:
          type: string
        timestamp:
          format: date-time
          type: string
        embeds:
          items:
            $ref: '#/components/schemas/EmbedUrl'
          type: array
        type:
          $ref: '#/components/schemas/CastType'
      type: object
    CastWithInteractionsReactions:
      example:
        count: 0
        fnames:
        - fnames
        - fnames
        fids:
        - null
        - null
      properties:
        count:
          format: int32
          type: integer
        fids:
          items:
            $ref: '#/components/schemas/Fid'
          type: array
        fnames:
          items:
            type: string
          type: array
      type: object
    CastWithInteractionsRecasts:
      example:
        count: 6
        fids:
        - null
        - null
      properties:
        count:
          format: int32
          type: integer
        fids:
          items:
            $ref: '#/components/schemas/Fid'
          type: array
      type: object
    CastWithInteractionsReplies:
      example:
        count: 1
      properties:
        count:
          format: int32
          type: integer
      type: object
    CastWithInteractions:
      allOf:
      - $ref: '#/components/schemas/Cast'
      - properties:
          reactions:
            $ref: '#/components/schemas/CastWithInteractionsReactions'
          recasts:
            $ref: '#/components/schemas/CastWithInteractionsRecasts'
          recasters:
            items:
              type: string
            type: array
          viewerContext:
            $ref: '#/components/schemas/ViewerContext'
          replies:
            $ref: '#/components/schemas/CastWithInteractionsReplies'
      example:
        threadHash: threadHash
        recasts:
          count: 6
          fids:
          - null
          - null
        parentUrl: parentUrl
        author:
          fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        viewerContext:
          followedBy: true
          following: true
          recasted: true
          liked: true
        type: cast-mention
        parentAuthor:
          fid: fid
        mentionedProfiles:
        - fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        - fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        replies:
          count: 1
        reactions:
          count: 0
          fnames:
          - fnames
          - fnames
          fids:
          - null
          - null
        text: text
        parentHash: parentHash
        embeds:
        - url: url
        - url: url
        recasters:
        - recasters
        - recasters
        hash: hash
        timestamp: 2000-01-23T04:56:07.000+00:00
      type: object
    NextCursor:
      description: Returns next cursor
      example:
        cursor: cursor
      properties:
        cursor:
          nullable: true
          type: string
      type: object
    ReactionsAndRecastsNotification:
      allOf:
      - $ref: '#/components/schemas/Cast'
      - properties:
          reactors:
            items:
              $ref: '#/components/schemas/User'
            type: array
          reactionType:
            $ref: '#/components/schemas/ReactionType'
        type: object
      example:
        threadHash: threadHash
        parentUrl: parentUrl
        author:
          fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        type: cast-mention
        parentAuthor:
          fid: fid
        mentionedProfiles:
        - fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        - fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        reactionType: like
        text: text
        reactors:
        - fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        - fid: 0
          custodyAddress: custodyAddress
          activeStatus: active
          displayName: displayName
          profile:
            bio:
              mentionedProfiles:
              - mentionedProfiles
              - mentionedProfiles
              text: text
          viewerContext:
            followedBy: true
            following: true
            recasted: true
            liked: true
          pfp:
            url: url
          verifications:
          - null
          - null
          followerCount: 6
          followingCount: 1
          username: username
        parentHash: parentHash
        embeds:
        - url: url
        - url: url
        hash: hash
        timestamp: 2000-01-23T04:56:07.000+00:00
      type: object
    UserCastLikeResponse:
      example:
        result:
          next:
            cursor: cursor
          reactor:
            fid: 0
            custodyAddress: custodyAddress
            activeStatus: active
            displayName: displayName
            profile:
              bio:
                mentionedProfiles:
                - mentionedProfiles
                - mentionedProfiles
                text: text
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            pfp:
              url: url
            verifications:
            - null
            - null
            followerCount: 6
            followingCount: 1
            username: username
          likes:
          - cast:
              cast_timestamp: 2000-01-23T04:56:07.000+00:00
              cast_text: cast_text
              cast_embeds:
              - url: url
              - url: url
              cast_fid: 6
              cast_hash: cast_hash
            reaction:
              reaction_target_hash: reaction_target_hash
              reaction_type: like
              reactor_fid: 0
              reaction_hash: reaction_hash
              reaction_timestamp: 2000-01-23T04:56:07.000+00:00
            cast_author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
          - cast:
              cast_timestamp: 2000-01-23T04:56:07.000+00:00
              cast_text: cast_text
              cast_embeds:
              - url: url
              - url: url
              cast_fid: 6
              cast_hash: cast_hash
            reaction:
              reaction_target_hash: reaction_target_hash
              reaction_type: like
              reactor_fid: 0
              reaction_hash: reaction_hash
              reaction_timestamp: 2000-01-23T04:56:07.000+00:00
            cast_author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
      properties:
        result:
          $ref: '#/components/schemas/UserCastLikeResponse_result'
      type: object
    RecentUsersResponse:
      example:
        result:
          next:
            cursor: cursor
          users:
          - fid: 0
            custodyAddress: custodyAddress
            activeStatus: active
            displayName: displayName
            profile:
              bio:
                mentionedProfiles:
                - mentionedProfiles
                - mentionedProfiles
                text: text
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            pfp:
              url: url
            verifications:
            - null
            - null
            followerCount: 6
            followingCount: 1
            username: username
          - fid: 0
            custodyAddress: custodyAddress
            activeStatus: active
            displayName: displayName
            profile:
              bio:
                mentionedProfiles:
                - mentionedProfiles
                - mentionedProfiles
                text: text
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            pfp:
              url: url
            verifications:
            - null
            - null
            followerCount: 6
            followingCount: 1
            username: username
      properties:
        result:
          $ref: '#/components/schemas/RecentUsersResponse_result'
      type: object
    CastResponse:
      example:
        result:
          cast:
            threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/CastResponse_result'
      type: object
    AllCastsInThreadResponse:
      example:
        result:
          casts:
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/AllCastsInThreadResponse_result'
      type: object
    CastsResponse:
      example:
        result:
          next:
            cursor: cursor
          casts:
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/CastsResponse_result'
      type: object
    RecentCastsResponse:
      example:
        result:
          next:
            cursor: cursor
          casts:
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/CastsResponse_result'
      type: object
    VerificationResponse:
      example:
        result:
          fid: fid
          display_name: display_name
          verifications:
          - verifications
          - verifications
          username: username
      properties:
        result:
          $ref: '#/components/schemas/VerificationResponse_result'
      type: object
    MentionsAndRepliesResponse:
      example:
        result:
          next:
            cursor: cursor
          notifications:
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
          - threadHash: threadHash
            recasts:
              count: 6
              fids:
              - null
              - null
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            replies:
              count: 1
            reactions:
              count: 0
              fnames:
              - fnames
              - fnames
              fids:
              - null
              - null
            text: text
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            recasters:
            - recasters
            - recasters
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/MentionsAndRepliesResponse_result'
      type: object
    ReactionsAndRecastsResponse:
      example:
        result:
          next:
            cursor: cursor
          notifications:
          - threadHash: threadHash
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            reactionType: like
            text: text
            reactors:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
          - threadHash: threadHash
            parentUrl: parentUrl
            author:
              fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            type: cast-mention
            parentAuthor:
              fid: fid
            mentionedProfiles:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            reactionType: like
            text: text
            reactors:
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            - fid: 0
              custodyAddress: custodyAddress
              activeStatus: active
              displayName: displayName
              profile:
                bio:
                  mentionedProfiles:
                  - mentionedProfiles
                  - mentionedProfiles
                  text: text
              viewerContext:
                followedBy: true
                following: true
                recasted: true
                liked: true
              pfp:
                url: url
              verifications:
              - null
              - null
              followerCount: 6
              followingCount: 1
              username: username
            parentHash: parentHash
            embeds:
            - url: url
            - url: url
            hash: hash
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/ReactionsAndRecastsResponse_result'
      type: object
    CustodyAddressResponse:
      example:
        result:
          fid: 0
          custodyAddress: custodyAddress
      properties:
        result:
          $ref: '#/components/schemas/CustodyAddressResponse_result'
      type: object
    CastLikesResponse:
      example:
        result:
          next:
            cursor: cursor
          likes:
          - reactor:
              fid: 0
              displayName: displayName
              viewerContext:
                followedBy: true
                following: true
              pfp:
                url: url
              followerCount: 6
              followingCount: 1
              username: username
            type: like
            hash: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
            timestamp: 2000-01-23T04:56:07.000+00:00
            castHash: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
          - reactor:
              fid: 0
              displayName: displayName
              viewerContext:
                followedBy: true
                following: true
              pfp:
                url: url
              followerCount: 6
              followingCount: 1
              username: username
            type: like
            hash: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
            timestamp: 2000-01-23T04:56:07.000+00:00
            castHash: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
      properties:
        result:
          $ref: '#/components/schemas/CastLikesResponse_result'
      type: object
    CastReactionsResponse:
      example:
        result:
          next:
            cursor: cursor
          casts:
          - reactor:
              fid: 0
              displayName: displayName
              viewerContext:
                followedBy: true
                following: true
              pfp:
                url: url
              followerCount: 6
              followingCount: 1
              username: username
            type: like
            hash: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
            timestamp: 2000-01-23T04:56:07.000+00:00
            castHash: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
          - reactor:
              fid: 0
              displayName: displayName
              viewerContext:
                followedBy: true
                following: true
              pfp:
                url: url
              followerCount: 6
              followingCount: 1
              username: username
            type: like
            hash: 0x5A927Ac639636E534b678e81768CA19e2C6280B7
            timestamp: 2000-01-23T04:56:07.000+00:00
            castHash: 0xfe90f9de682273e05b201629ad2338bdcd89b6be
      properties:
        result:
          $ref: '#/components/schemas/CastReactionsResponse_result'
      type: object
    CastRecasterResponse:
      example:
        result:
          next:
            cursor: cursor
          users:
          - fid: 0
            displayName: displayName
            profile:
              bio:
                mentions:
                - mentions
                - mentions
                text: text
            viewerContext:
              followedBy: true
              following: true
            pfp:
              url: url
            followerCount: 6
            followingCount: 1
            username: username
            timestamp: 2000-01-23T04:56:07.000+00:00
          - fid: 0
            displayName: displayName
            profile:
              bio:
                mentions:
                - mentions
                - mentions
                text: text
            viewerContext:
              followedBy: true
              following: true
            pfp:
              url: url
            followerCount: 6
            followingCount: 1
            username: username
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/CastRecasterResponse_result'
      type: object
    FollowResponseUser:
      allOf:
      - $ref: '#/components/schemas/User'
      - properties:
          timestamp:
            format: date-time
            type: string
      example:
        fid: 0
        custodyAddress: custodyAddress
        activeStatus: active
        displayName: displayName
        profile:
          bio:
            mentionedProfiles:
            - mentionedProfiles
            - mentionedProfiles
            text: text
        viewerContext:
          followedBy: true
          following: true
          recasted: true
          liked: true
        pfp:
          url: url
        verifications:
        - null
        - null
        followerCount: 6
        followingCount: 1
        username: username
        timestamp: 2000-01-23T04:56:07.000+00:00
    FollowResponse:
      example:
        result:
          next:
            cursor: cursor
          users:
          - fid: 0
            custodyAddress: custodyAddress
            activeStatus: active
            displayName: displayName
            profile:
              bio:
                mentionedProfiles:
                - mentionedProfiles
                - mentionedProfiles
                text: text
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            pfp:
              url: url
            verifications:
            - null
            - null
            followerCount: 6
            followingCount: 1
            username: username
            timestamp: 2000-01-23T04:56:07.000+00:00
          - fid: 0
            custodyAddress: custodyAddress
            activeStatus: active
            displayName: displayName
            profile:
              bio:
                mentionedProfiles:
                - mentionedProfiles
                - mentionedProfiles
                text: text
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            pfp:
              url: url
            verifications:
            - null
            - null
            followerCount: 6
            followingCount: 1
            username: username
            timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        result:
          $ref: '#/components/schemas/FollowResponse_result'
      type: object
    UserResponse:
      example:
        result:
          user:
            fid: 0
            custodyAddress: custodyAddress
            activeStatus: active
            displayName: displayName
            profile:
              bio:
                mentionedProfiles:
                - mentionedProfiles
                - mentionedProfiles
                text: text
            viewerContext:
              followedBy: true
              following: true
              recasted: true
              liked: true
            pfp:
              url: url
            verifications:
            - null
            - null
            followerCount: 6
            followingCount: 1
            username: username
      properties:
        result:
          $ref: '#/components/schemas/UserResponse_result'
      type: object
    User_pfp:
      example:
        url: url
      properties:
        url:
          description: The URL of the user's profile picture.
[...]
