openapi: 3.0.0
info:
  title: STP API V2
  version: "2.0"
servers:
- url: https://api.neynar.com/v2
paths:
  /stp/subscription_check:
    get:
      tags:
      - STP
      summary: Check if a wallet address is subscribed to a STP contract
      description: Check if a wallet address is subscribed to a given STP contract.
      externalDocs:
        url: https://docs.neynar.com/reference/subscription-check
      operationId: subscription-check
      parameters:
      - name: api_key
        in: header
        description: API key required for authentication.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          default: NEYNAR_API_DOCS
      - name: addresses
        in: query
        description: "Comma separated list of Ethereum addresses, up to 350 at a time"
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "0xedd3783e8c7c52b80cfbd026a63c207edc9cbee7,0x5a927ac639636e534b678e81768ca19e2c6280b7"
      - name: contract_address
        in: query
        description: Ethereum address of the STP contract
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: 0x76ad4cb9ac51c09f4d9c2cadcea75c9fa9074e5b
      - name: chain_id
        in: query
        description: Chain ID of the STP contract
        required: true
        style: form
        explode: true
        schema:
          type: string
        example: "8453"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCheckResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
components:
  schemas:
    ConflictErrorRes:
      required:
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        key:
          type: string
      description: Details for the conflict error response
    ErrorRes:
      required:
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        property:
          type: string
        status:
          type: integer
          format: int32
      description: Details for the error response
    SubscriptionCheckResponse:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/SubscriptionStatus'
      example:
        "0xedd3783e8c7c52b80cfbd026a63c207edc9cbee7":
          object: subscribed_to_dehydrated
          status: true
          expires_at: 1748890497000
          subscribed_at: 1719256819704
          tier:
            id: 1
            price:
              period_duration_seconds: 2592000
              tokens_per_period: "3499999997472000"
              initial_mint_price: "0"
        "0x5a927ac639636e534b678e81768ca19e2c6280b7":
          object: subscribed_to_dehydrated
          status: false
      x-schema-name: SubscriptionCheckResponse
    SubscriptionStatus:
      required:
      - expires_at
      - object
      - status
      - subscribed_at
      - tier
      type: object
      properties:
        object:
          type: string
          enum:
          - subscribed_to_dehydrated
        status:
          type: boolean
        expires_at:
          type: integer
          format: int64
          nullable: true
        subscribed_at:
          type: integer
          format: int64
          nullable: true
        tier:
          $ref: '#/components/schemas/SubscriptionTier'
    SubscriptionTier:
      type: object
      properties:
        id:
          type: integer
          example: 1
        price:
          $ref: '#/components/schemas/SubscriptionTier_price'
    SubscriptionTier_price:
      type: object
      properties:
        period_duration_seconds:
          type: integer
          example: 2592000
        tokens_per_period:
          type: string
          example: "3000000000000000"
        initial_mint_price:
          type: string
          example: "0"
  responses:
    "401Response":
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
    "404Response":
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
    "400Response":
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
    "403Response":
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
    "409Response":
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConflictErrorRes'
    "500Response":
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorRes'
  parameters:
    ApiKey:
      name: api_key
      in: header
      description: API key required for authentication.
      required: true
      style: simple
      explode: false
      schema:
        type: string
        default: NEYNAR_API_DOCS
